# Travis CI Configuration File
sudo: false

language: php

dist: trusty

cache:
  apt: true
  directories:
    - $HOME/.composer/cache/files
    - $HOME/.npm
    - /tmp/node

php:
  - 7.2
  - 7.1
  - 7.0

# WordPress comes from the Git mirror, where 'master' mirrors svn 'trunk' and
# x.y mirrors the latest from the x.y branch
env:
  - WP_VERSION=master PR_TRAVISCI=travis:build
  - WP_VERSION=5.0 PR_TRAVISCI=travis:build
  - WP_VERSION=4.9 PR_TRAVISCI=travis:build
  - WP_VERSION=4.8 PR_TRAVISCI=travis:build

before_install:
  # set up WP install
  - export WP_DEVELOP_DIR=/tmp/wordpress/
  - mkdir -p $WP_DEVELOP_DIR
  - git clone --depth=1 --branch="$WP_VERSION" git://develop.git.wordpress.org/ $WP_DEVELOP_DIR
  - plugin_slug=$(basename $(pwd))
  - plugin_dir=$WP_DEVELOP_DIR/src/wp-content/plugins/$plugin_slug
  - cd ..
  - mv $plugin_slug $plugin_dir

  # set up tests config
  - cd $WP_DEVELOP_DIR
  - echo $WP_DEVELOP_DIR
  - cp wp-tests-config-sample.php wp-tests-config.php
  - sed -i "s/youremptytestdbnamehere/wordpress_test/" wp-tests-config.php
  - sed -i "s/yourusernamehere/root/" wp-tests-config.php
  - sed -i "s/yourpasswordhere//" wp-tests-config.php
  # set up database
  - mysql -e 'CREATE DATABASE wordpress_test;' -uroot

  # prepare for running the tests
  - cd $plugin_dir

  # setup NodeJS version using NVM
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - node --version
  - nvm install 6
  - node --version
  - npm install -g grunt-cli
  - npm --version
  - mysql --version
  - phpenv versions
  - ruby --version
  - php --version
  - php -m
  - phpunit --version
  - curl --version
  - grunt --version
  - git --version
  - svn --version

# before_script: Failures in this section will result in build status 'errored'
before_script:
  - composer global require --dev phpunit/phpunit:^6;
  - composer install;
  - mkdir -p /tmp/node/node_modules
  - ln -s /tmp/node/node_modules $plugin_dir/node_modules
  - phpunit --version
  - npm install

# Run tests
script: grunt $PR_TRAVISCI
