.wp-core-ui .entrepot-actions .entrepot-warning,
.wp-core-ui .button-primary.entrepot-warning {
	background: #dc3232;
    border-color: #dc3232 #a00 #a00;
    -webkit-box-shadow: 0 1px 0 #a00;
    box-shadow: 0 1px 0 ##a00;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #a00, 1px 0 1px #a00, 0 1px 1px #a00, -1px 0 1px #a00;
}

.wp-core-ui .entrepot-actions .entrepot-warning:hover,
.wp-core-ui .button-primary.entrepot-warning:hover {
	background: #a00;
    border-color: #dc3232;
    color: #fff;
}

.wp-core-ui .entrepot-actions .entrepot-warning:focus,
.wp-core-ui .entrepot-actions .entrepot-warning:active,
.wp-core-ui .button-primary.entrepot-warning:focus,
.wp-core-ui .button-primary.entrepot-warning:active {
    background: #dc3232;
    border-color: #a00;
    -webkit-box-shadow: inset 0 2px 0 #a00;
    box-shadow: inset 0 2px 0 #a00;
    vertical-align: top;
}
