#screen-entrepot-notices-wrap {
	overflow: auto;
	margin-left: 0 !important;
	margin: 0;
	position: relative;
}

#entrepot-notices-back {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 150px;
	right: 0;
	border: 1px solid #e1e1e1;
	border-top: none;
	border-bottom: none;
	background: #fff;
}

#entrepot-notices-columns {
	position: relative;
}

#screen-entrepot-notices-wrap .contextual-help-tabs ul li {
	background: #fff;
}

#screen-entrepot-notices-wrap .contextual-help-tabs ul li.upgrade.active {
	border-left-color: #ffba00;
}

#screen-entrepot-notices-wrap .contextual-help-tabs ul li.updated.active {
	border-left-color: #46b450;
}

#screen-entrepot-notices-wrap .contextual-help-tabs ul li.error.active {
	border-left-color: #dc3232;
}

#screen-entrepot-notices-wrap .contextual-help-tabs ul li a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

#entrepot-notices-link-wrap {
	float: right;
	height: 28px;
	margin: 0 0 0 6px;
	border: 1px solid #ddd;
	border-top: none;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
}

#entrepot-notices-link-wrap .count,
#screen-entrepot-notices-wrap .count {
	display: inline-block;
	background-color: #0073aa;
	color: #fff;
	font-size: 9px;
	line-height: 17px;
	font-weight: 600;
	margin: -1px 0 0 2px;
	vertical-align: text-top;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 26;
	padding: 0 6px;
}

#screen-entrepot-notices-wrap .upgrade .count {
	background-color: #ffba00;
}

#screen-entrepot-notices-wrap .updated .count {
	background-color: #46b450;
}

#screen-entrepot-notices-wrap .error .count {
	background-color: #dc3232;
}

.entrepot-notice-wrap {
	position: relative;
}

.entrepot-notice-trash:before,
.show-notice:before {
	background: none;
	color: #dc3232;
	content: "\f182";
	display: block;
	font: normal 16px/20px dashicons;
	height: 20px;
	text-align: center;
	width: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.show-notice:before {
	content: "\f179";
	color: #0073aa;
}

.entrepot-notice-trash,
.show-notice {
	position: absolute;
	top: -2px;
	right: -40px;
	border: none;
	margin: 0;
	padding-left: 5px;
	background: none;
	color: #dc3232;
	cursor: pointer;
}

.show-notice {
	right: -5px;
	text-decoration: none;
	color: #0073aa;
}

a.show-notice:focus {
	outline: none;
	box-shadow: none;
}

@media screen and ( max-width: 782px ) {
	#screen-meta,
	#screen-meta-links {
		display: inherit !important;
	}

	/* Hidden Elements */
	#contextual-help-link-wrap,
	#screen-options-link-wrap,
	#contextual-help-wrap,
	#screen-options-wrap,
	#entrepot-notices-columns .contextual-help-tabs li a span.text {
		display: none;
	}

	#entrepot-notices-back {
		left: 30px;
	}

	#entrepot-notices-columns .contextual-help-tabs {
		max-width: 30px;
	}

	#entrepot-notices-columns .contextual-help-tabs li a {
		padding-left: 5px;
	}
}
